.home_page{
    width: 100%;
    height: 700px;
    background-image:url('../businessmeeting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home_page::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    background: rgba(0, 9, 31, 0.8);
}